<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form name="calcForm" action="calculator_be/addition" method="post">
    <input type="text" name="number1"/>
    <input type="text" name="number2"/>
    <button type="submit" value="Submit"/>
</form>
<p>Calculate</p>
</body>
</html>